.hero-div {
    width: 288px;
    height: 288px;
    overflow: hidden;
    position: relative;
    left: 0px;
}

.hero-sprite {
    width: 1728px;
    height: 1152px;
    position: relative;
    top: -577px;
    left: 0px;
    transform: scale(-1,1);
}