.heroDiv {
    width: 288px;
    height: 288px;
    overflow: hidden;
    position: relative;
}

.heroSprite {
    width: 1728px;
    height: 1152px;
    position: relative;
    top: -576px;
    left: 0px;
    transform: scale(-1,1);
}